# Gemini API Key (Server-side secret)
GEMINI_API_KEY=

# OpenAI API Key
OPENAI_API_KEY=

# Anthropic API Key
ANTHROPIC_API_KEY=

# Groq API Key
GROQ_API_KEY=

# DeepSeek API Key
DEEPSEEK_API_KEY=

# Hugging Face API Token
HF_TOKEN=

# SerpAPI Key (Goolge Search)
SERPAPI_KEY=

# Ollama Base URL (Defaults to http://localhost:11434 if not provided)
OLLAMA_BASE_URL=
